@color1: #17B225;
@color2: #73FF7F;
@color3: #139BFF;

@headerColor: @color1;
@lightestTextColor: white;
@darkTextColor: #222;

.formElement() {
	padding: 30px 10px 30px 10%;
}

.headerFont(@size) {
	font-size: @size;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding: .5em 0;
	margin: 0;
}

h1 {
	.headerFont(3em);
}

h2 {
	.headerFont(2em);
}

h3 {
	.headerFont(1.5em);
}

h4 {
	.headerFont(1em);
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	background-color: #222;
	padding: 0; 
	margin: 0;
	font-family: ;
	font-size: 16px;
}

header {
	.formElement();
	background-color: @color1;
	color: @lightestTextColor;
	h1 {

	}
}

label {
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

input[type='text'] {
	color: @darkTextColor;
	font-size: 18px;
	padding: 6px;
	border-radius: 8px;
	border: 1px solid lighten(@darkTextColor, 40%);
}

section {
	clear: both;
	h1 {
		.headerFont(2em);
	}

	&#compensation {
		.formElement();
		background-color: @color2;
		color: @darkTextColor;

		fieldset {
			float: left;
			margin-right: 40px;
		}
	}

	&#company {
		.formElement();
		background-color: @color3;
		color: @lightestTextColor;

		form[name="fundingForm"] {
			padding-top: 40px;
		}

		button {
			font-size: 20px;
			background-color: #CC5824;
			font-family: 'Montserrat', sans-serif;
			font-weight: normal;
			padding: 10px 15px;
			border-radius: 16px;
			border: 1px solid #CC5824;
			color: @lightestTextColor;
		}
	}

}

#formElements {
	margin-left: 0;
	margin-right: 300px;
}

#exitValue {
	position: fixed;
	width: 250px;
	right: 25px;
	top: 100px;
	color: @lightestTextColor;
}