<!doctype html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<header ng-controller="ExitValueController as equity">
    <h1>How much is that {{ equity.getYourOwnership() | number }}% really worth?</h1>
</header>
<section id="compensation" ng-controller="CompensationController as comp">
    <form>
        <h1>Lets see what you were offered</h1>
        <fieldset>
            <label>Shares offered</label>
            <div>
                <input type="text" ng-model="comp.$empComp.sharesOwnable" placeholder="Enter the shares you've been issued">
            </div>
        </fieldset>
        <fieldset>
            <label>Strike price ($)</label>
            <div>
                <input type="text" ng-model="comp.$empComp.strikePricePerShare" placeholder="Enter your strike price" >
            </div>
        </fieldset>
    </form>
</section>
<section id="company" ng-controller="CompanyController as comp">
    <form>
        <h1>Let's enter some details about the company</h1>
        <fieldset>
            <label>How many initial shares were issued</label>
            <div>
                <input type="text" ng-model="comp.$compVal.sharesIssued" placeholder="The number of initial shares issued">
            </div>
        </fieldset>
    </form>
    <form name="fundingForm">
        <h2>Did the company us funding to grow?</h2>
        <p>The company has taken {{ comp.$fundingRounds.length }} funding rounds.</p>
        <div id="fundingRounds">
            <div ng-repeat="round in comp.$fundingRounds">
                <div class="fundingRound">
                    <fieldset>
                        <label>Amount of funding</label>
                        <div>
                            <input type="text" placeholder="Amount of funding" ng-model="round.amount">
                        </div>
                    </fieldset>
                    <fieldset>
                        <label>Pre-money valuation</label>
                        <div>
                            <input type="text" placeholder="Pre-money valuation" ng-model="round.valuation">
                        </div>
                    </fieldset>
                    <fieldset>
                        <label>Preferences</label>
                        <div>
                            <label for="preference"><input id="preference" type="checkbox" ng-model="round.preference"> Preferences?</label>
                            <div id="preference_options">
                                <label for="preference_amount"> at </label> <input id="preference_amount" type="text" ng-model="round.preferenceAmount">
                            <label for="participating"><input id="participating" type="checkbox" ng-model="round.participating"> Participating?</label>
                            <select ng-model="round.participationStyle" ng-init="round.participationStyle = 'bestOf'">
                                <option value="bestOf" >Best of participation or preference</option>
                                <option value="both">Has preference and participates</option>
                            </select>    
                            </div>
                        </div>
                    </fieldset>
                    <div><span class="number">{{ round.sharesIssued() | number }}</span> new shares issued, 
                         <span class="number">${{ round.pricePerShare() | number }} per share</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button type="button" ng-click="comp.addFundingRound()">Add Round</button>
        </div>
    </form>
</section>
<section id="exit" ng-controller="ExitController as ec">
    <form>
        <h1>The Magical Liquidity Event has finally happened!</h1>
        <fieldset>
            <label>Sale Price</label>
            <div>
                $<input type="text" ng-model="ec.$compVal.exitAmount" >
            </div>
        </fieldset>
    </form>
</section>

<section id="exitValue" ng-controller="ExitValueController as equity">
    <h2>What's it all worth?</h2>
    <h3>Company Value
        <div>${{ equity.getCompanyValue() | number }}</div>
    </h3>
    <h3>Value of your shares
        <div>${{ equity.getYourValue() | number }}</div>
    </h3>
    <h3>Price you paid
        <div>${{ equity.getYourPrice() | number }}</div>
    </h3>
    <h1>Your Net
        <div>${{ equity.getYourNet() | number}}</div>
    </h1>
    <h1>Your Ownership Percentage
        <div>{{ equity.getYourOwnership() | number }}% (intial ownership: {{ equity.getInitialOwnership() | number }}%)</div>
    </h1>
</section>
</body>
</html>